.navbar {
    font-size: 17px;
    font-weight: 200;
    min-height: 48px;
    margin-bottom: 45px;
}

.navbar-inverse {
    background-color: #6b93a0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #daf1c7;
}

@media (min-width: 1020px) {
    .container {
        max-width: 1040px;
        margin-left: 200px;
    }
}

.container-fluid {
    padding-left: 10px;
    padding-right: 0px;
}

.main-container {
    max-width: 1040px;
}

div.main-container {
    max-width: 1000px;
}

#TOC {
    margin: 22px 2px 20px 200px;
}

@media (min-width: 992px) {
  .col-md-9 {
     float: right;
  }
}

.tocify {
    border: 0.5px solid #5e9a92;
    width: 14%;
    max-width: 220px;
}

body {
    color: #516275;
    text-align: justify;
}

h1.title {
    font-size: 45px;
    margin-top: 45px;
    margin-bottom: 12px;
}
