.navbar {
    font-size: 18px;
    min-height: 48px;
}

.navbar-inverse {
    background-color: #1b3548;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f3ffe1;
    min-height: 48px;
}

body {
    color: #516275;
    text-align: justify;
}

.title {
    font-size: 45px;
    margin-top: 45px;
    margin-bottom: 12px;
}

@media (min-width: 1040px) {
    .col-md-9 {
        float: left;
        width: 67%;
    }
}

.tocify {
    border: 0.5px solid #80b7b0;
    width: 100%;
    position: fixed;
    float: right;
}
